<!DOCTYPE html>
<html>
<head>
	<title>GossipProject - Home</title>
	
</head>
<body>
    <center>
      <% flash.each do |key, value| %>
                <div class="flash <%= key %> alert alert-danger"><%= value %></div>
      <% end %>
      <br>
      <br>
      <h1><%if session[:user_id]%> Bonjour <%=User.find(session[:user_id]).first_name%> voici :<%end%> Tous les gossips</h1>
      <br><br>
 	    <% Gossip.all.each do |gossip| %>
        <div class="card w-50 rounded-0">
        <div class="card-header rounded-0" style="background-color: #2d3436; color: white;">
          <h3 class="card-title"><%= gossip.title %> </h3>
          <%com_nb = gossip.comments.count%>
          <%if com_nb > 0%>
           <div class="muted-text" style="float: right; color: #bdc3c7;"> <%=com_nb%> commentaire<% if com_nb > 1%>s <%end%></div>
          <% end %>
        </div>
        <div class="card-body">
         <p class="card-subtitle"><%=gossip.content.split[0]%> <%=gossip.content.split[1]%> <%=gossip.content.split[2]%>...<br> <br><%= link_to "Lire la suite", "gossips/#{gossip.id}", class: "btn btn-secondary"%></p>  
 		     <p class="muted-text" style="float: right; color: grey;"> -by <%= gossip.user.first_name + " " + gossip.user.last_name%> </p>
        </div>
      </div>
      <br><br>
    	<% end %>
    </center>
 </body>
 </html>
